<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <div class="col jumbotron text-center bg-dark text-light">
        <h1>Login</h1>
    </div>
    <br>
    <div class="container">
        <form>
            <div class="col-4 form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" name="username">
            </div>
            <div class="col-4 form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
            </div>
            <button type="submit" class="btn btn-dark" formaction="">Login</button>
            <button type="submit" class="btn btn-dark" formaction="">Register</button>
            
        </form>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>